.login-container {
    display: flex;
    max-width: 1000px;
    background-color: var(--dark-secondary);
    box-shadow: 0 0 40px 10px var(--pink);
}

.login-page {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}