.login-container {
    display: flex;
    max-width: 500px;
    background-color: var(--secondary-background);
    box-shadow: 0 0 30px 5px var(--primary-accent);
    border-radius: 15px;
    flex: 1;
}

.login-page {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}