.login-panel {
    padding: 20px;
    flex: 1.1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-heading-container {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.login-heading {
    font-size: 3rem;
}

.inputs-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.forgot-password-button {
    background: none;
    color: var(--primary-accent);
    font-size: 1rem;
}

.forgot-password-button:hover {
    text-decoration: underline;
    background: none;
}

.create-account-button {
    background-color: #009425;
    color: #fff;
    font-weight: 600;
}

.create-account-button:hover {
    background-color: #fff;
    color: #009425;
}