.fr {
  flex: 1;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  border: 2px grey solid;
  padding: 7px 15px;
  align-items: center;
}
.name-pic {
  display: flex;
  gap: 14px;
  align-items: center;
  text-decoration: none;
  color: white;
}
.name-pic:hover {
  text-decoration: underline;
}
.name-pic > img {
  border-radius: 1.5rem;
}
.names {
  display: flex;
  flex-direction: column;
}
.username {
  font-size: 0.8rem;
}
.fr-buttons {
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
  height: 25px;
}

.fr-buttons :first-child {
  padding: 0px 3px;
  border-radius: 0.25rem;
  background-color: green;
  display: flex;
  align-items: center;
}
.fr-buttons :last-child {
  padding: 0px 3px;
  background-color: red;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}
