.likes-view {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 7px;
  max-height: 15vh;
  overflow: auto;
  overflow-y: auto;
  background-color: var(--primary-interaction);
  min-height: 100px;
}
