.attachments-bar > button {
    color: var(--primary-accent);
    font-size: 1.4em;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.attachments-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}