.logout-button {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logout-button > span {
  font-weight: 300;
}

.logout-button:hover {
  color: var(--bad-button-color);
}

@media (max-width: 600px) {
  .logout-button > span {
    display: none;
  }

  .logout-button {
    font-size: 1.5rem;
  }
}
