.login-panel {
    flex: 1.1;
    text-align: center;
}

.login-heading {
    font-size: 3rem;
    padding-top: 10%;
    padding-bottom: 10%;
}

.forgot-password-button {
    border: 5px solid red;
}

.create-account-button {
    border: 5px solid red;
}