.login-container {
    display: flex;
    max-width: 1000px;
    background-color: var(--dark-secondary);
    border-radius: 15px 15px;
}

.login-page {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}