.create-post-container {
  border-bottom: 1px solid grey;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.3em;
  gap: 1.5em;
}

.slideshow-container {
  padding: 12px;
  padding-top: 0;
  text-align: center;
}
