.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    gap: 1rem;
}

.login-button {
    background-color: #0000ff;
    color: #fff;
}

.login-button:hover {
    background-color: #fff;
    color: #0000ff;
}