.post-button {
  background-color: var(--primary-button-color);
  color: var(--primary-button-color-inv);
}

.post-button:hover {
  background-color: var(--primary-button-color-inv);
  color: var(--primary-button-color);
}
