.main-page {
  display: flex;
  background-color: var(--primary-background);
  justify-content: center;
  min-height: 100vh;
}

.controls-container {
  padding: 7px;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex-basis: 800px;
  flex-shrink: 1;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

@media (max-width: 400px) {
  .controls-container {
    position: fixed;
    background-color: black;
    flex: 1;
    width: 100vw;
    bottom: 0;
    padding: 0px 7px;
  }

  .content-container {
    border: none;
  }

  .main-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
}
