.main-page {
    display: flex;
    background-color: var(--secondary-background);
    justify-content: center;
    min-height: 100vh;
}

.controls-container {
    padding: 15px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex-basis: 800px;
    flex-shrink: 1;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}