.text-input-label {
  text-align: left;
  display: block;
  padding-bottom: 7px;
  cursor: text;
}

.text-input {
  display: block;
  outline: none;
  width: 250px;
  padding: 7px;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
}
