.post-container {
  padding: 12px;
  display: flex;
  gap: 1rem;
  font-size: clamp(0.85rem, -0.875rem + 4.333vw, 1.1rem);
}

.content-container {
  flex: 1;
}

.post-header-info {
  display: flex;
  align-items: center;
  gap: 14px;
}

.delete-container {
  margin-left: auto;
}
