.friend-status {
  font-size: clamp(0.96rem, -0.875rem + 4.333vw, 1.2rem);
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--secondary-background);
}

.fr-buttons {
  display: flex;
  gap: 10px;
}

.accept-fr {
  font-size: 0.9rem;
  height: 25px;
  padding: 0px 3px;
  border-radius: 0.25rem;
  background-color: green;
  display: flex;
  align-items: center;
}

.delete-fr {
  font-size: 0.9rem;
  height: 25px;
  padding: 0px 3px;
  background-color: var(--bad-button-color);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}
