.header-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background);
  width: 100%;
}
.not-bio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px black solid;
  padding: 5px 7px;
}
.not-bio > img {
  width: clamp(50px, -0.875rem + 12.333vw, 150px);
  height: clamp(50px, -0.875rem + 12.333vw, 150px);
  margin-bottom: 5px;
  border-radius: 50%;
  border: 3px black solid;
  margin-right: 7px;
}
.bio {
  margin: 12px 12px;
  word-break: break-word;
}
.header-container > p {
  margin: 10px 0px;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.names {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.names > p {
  font-size: 0.8rem;
  word-break: break-word;
}
.friend-status-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-background);
}
