.delete-button {
  color: var(--bad-button-color);
  cursor: pointer;
  background: none;
  font-size: 0.95rem;
  border: none;
}

.delete-button:hover {
  color: var(--bad-button-color-dark);
}
.confirm {
  position: relative;
  display: inline;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 3px 7px;
}
.confirm:hover {
  background-color: rgba(255, 0, 0, 0.7);
}
.close {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.close:hover {
  background-color: red;
}
.del-form {
  display: flex;
  gap: 7px;
  align-items: center;
}
