.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
}

.login-button {
    background-color: #0000ff;
    color: #fff;
    font-weight: 600;
}

.login-button:hover {
    background-color: #fff;
    color: #0000ff;
}