.login-image-container {
    flex: 1;
    position: relative;
    text-align: center;
    color: var(--light-grey);
}

.login-image {
    width: 100%;
    height: 100%;
    display: block; /* Hack to remove 3px whitespace under image in bordered div */
}

.image-credits {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    font-size: small;
}

.image-credits > a {
    color: var(--light-grey);
}

.image-credits > a:visited {
    color: var(--blue);
}