/*no css reset*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-primary);
  color: var(--light-grey);
}

input:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --dark-primary: #1f1f1f;
  --dark-secondary: rgb(8, 8, 8);
  --blue: #41B6E6;
  --pink: #DB3EB1;
  --light-grey: #BEBEBE;
}
