# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Backend TESTS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
env: 
  SECRET: thisisatest

jobs:
  test-backend:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: api/package-lock.json
    - name: Install project dependencies (NPM)
      run: npm ci
      working-directory: ./api

    - name: UNIT TEST (JEST)
      run: npm run test
      working-directory: ./api
